# SPDX-FileCopyrightText: 2026 Bernd Zeimetz <bernd@bzed.de>
# SPDX-License-Identifier: AGPL-3.0-or-later

docs/_build/
/dist/
/bin/
/vendor/
*.deb
*.buildinfo
*.changes
coverage.out
coverage.out.raw
coverage.html
test-report.xml
/debian/.debhelper/
/debian/dzo/
/debian/debhelper-build-stamp
/debian/*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
/debian/files
.private/*
